<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Visual interaction design is where my passion lies. While attending university, I focused on my degree program, game programming, and development, 
            but I fell in love with UI. I love doing research into the whys and whats of how people felt about certain things and how to make their needs come to life. 
              After finishing my degree, I came to realize that I was inadvertently always working on UI and doing best design practices. </p>
      </div>
      <div class="col-lg-4">
        <p>Before working on assignments, I would do research into what people liked the most and what they struggled with, focusing on colors and actions. I would then 
          outline (wireframe) how I wanted my applications and games to look and feel to my targeted audience. I would annotate within the programs what was working and what 
            needed to be fixed, while adding what additional items I would like to include, such as further interactivity or better clarification of button functionality. 
              At the end of my degree program, I worked as the UI/UX engineer and designer for my gaming group and solidified my love for all things UI. </p>
      </div>
    </div>
  </div>
</section>
